@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e0e0e0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  @apply text-2xl text-center font-bold underline underline-offset-4;
  @apply py-4;
  @apply border-b-[0.2px] border-slate-500;
  text-decoration-thickness: 1.5px;
}

.app-container {
  @apply grid place-items-center content-center gap-2;
  @apply h-full;
  @apply flex-1;
}

.row {
  @apply flex;
  gap: 0.75rem;
  margin-bottom: 0.2rem;
}

.cell {
  /* @apply border border-slate-50; */
  @apply size-20;
  @apply grid place-items-center;
  @apply font-bold text-xl uppercase;
  transition: all 0.4s ease-in;

  border-radius: 14px;
  box-shadow: -10px 10px 20px #afa8ae,
    10px -10px 20px #fbf2fa;

  &.correct {
    background: linear-gradient(315deg, #57af71, #49945f);
    box-shadow: -8px -8px 16px #4a9560,
      8px 8px 16px #58b374;
  }

  &.close {
    background: linear-gradient(225deg, #dc955b, #b97d4d);
    box-shadow: -10px 10px 20px #a97246,
      10px -10px 20px #f3a464;
  }

  border-radius: 14px;
}